.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}

.title {
  margin: 15;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

.posts {
  list-style: none;
  padding: 0;
  margin: 5em 0;

  & > li {
    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formContent {
  width: 100%;
  font-size: 1em;
  padding: 0.8em;
  font-family: "Source Sans Pro", sans-serif;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}

.formButton {
  background: #4948a7;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: 0.6em 1em;
  font-size: 1.1em;
}
