.postsContent {
  font-size: 30px;
  line-height: 43px;
  margin-bottom: 0.4rem;
}

.postMeta {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.postsMetaData {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
  line-height: 33px;
  margin-top: 0.4rem;
  margin-right: 1em;

  svg {
    font-size: 0.85em;
    margin-right: 0.3em;
  }
}
